body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #00313D;
    background: #FAFAFA;
    table-layout:fixed;
}
.page__header {
    min-width: 100%;
    max-height: 20%;
    position: fixed;
    background: #FAFAFA;
    z-index: 1000;
    box-shadow: 0 0 10px #00313D;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu
{
    list-style-type: none;
    display: flex;
    padding: 0;

}

.menu__link
{
    margin-right: 20px;
    text-align: center;
    align-items: center;
}

.menu_a
{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    display: block;
    background: #FAFAFA;
    color: #00313D;

}

.menu_a:hover {
    background: #FAFAFA;
    color: #033D2E;
}

.page__main
{
    margin:0;
    padding:0;
    list-style:none;
    width:100%;
    display:table;
    table-layout:fixed;
}

.content__image
{
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius:200px;
    padding:0;
    font-size:0;

}

.content__image img
{
    width: 300px;
    border-radius:150px;
}

.content__page
{
    margin-top: 70px;

}

.content__title
{
    padding: 10px;
}

.content__subtitle
{
    padding: 10px;
}

.content__paragraph{
    padding: 10px;
}

.page__footer {
    padding: 50px;
}
.skills{
    display: block
}